.itemCatalogo {
  max-width: 200px;
}

.spinner {
  height: 300px;
  width: 200px;
  display: inline-block;
  overflow: hidden;
  border-radius: 12px;
  background-color: #dddbdd;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(157, 69, 199, 0.2)),
    color-stop(18%, rgba(157, 69, 199, 0.3)),
    color-stop(33%, rgba(157, 69, 199, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(157, 69, 199, 0.5) 8%,
    rgba(157, 69, 199, 0.6) 18%,
    rgba(157, 69, 199, 0.5) 33%
  );
  background-size: 800px 100px;
  animation: wave-squares 1s infinite ease-out;
}

@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  background-color: rgb(0, 0, 0, 0.8);
  z-index: 2000;
  top: 0;
  left: 0;
}

@media (max-width: 500px) {
  .itemCatalogo {
    max-width: 300px;
  }
  .spinner {
    width: 300px;
    height: 450px;
  }
}
