.background{
  background: url("../../../Assets/StoneWallBackground.svg");
  position: relative;
}
.background::before{
  content: "";
  height: 20px;
  width: 100%;
  position: absolute;
  background: url("../../../Assets/DetailTop.svg");
  background-size: cover;
}

.background::after{
  content: "";
  top: 0;
  height: 100%;
  width: 20px;
  position: absolute;
  background: url("../../../Assets/DetailLeft.svg");
  background-size: cover;
}

.backgroundPurple{
  margin-top: 120px;
}