.background {
  background: url('../../../Assets/StoneWallBackgroundPurple.svg');
  display: flex;
  justify-content: center;
}
@keyframes RightPoster {
  from {
    right: 0px;
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
    right: -220px;
  }
}

@keyframes RightPosterL {
  from {
    right: 0px;
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
    right: -180px;
  }
}

@keyframes RightPosterUD {
  from {
    top: 0px;
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
    top: -220px;
  }
}

@keyframes LeftPoster {
  from {
    right: -220px;
  }
  to {
    right: 220px;
  }
}

@keyframes LeftPosterL {
  from {
    right: -180px;
  }
  to {
    right: 180px;
  }
}

@keyframes LeftPosterUD {
  from {
    top: -220px;
  }
  to {
    top: 220px;
  }
}

@keyframes MidPoster {
  from {
    right: 220px;
    transform: scale(1);
  }
  to {
    right: 0px;
    transform: scale(1.2);
  }
}

@keyframes MidPosterL {
  from {
    right: 180px;
    transform: scale(1);
  }
  to {
    right: 0px;
    transform: scale(1.2);
  }
}

@keyframes MidPosterUDL {
  from {
    top: 220px;
    transform: scale(0.8);
  }
  to {
    top: 0px;
    transform: scale(1);
  }
}

@keyframes RightPosterUDL {
  from {
    top: 0px;
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
    top: -220px;
  }
}
@keyframes MidPosterUDL {
  from {
    top: 220px;
    transform: scale(0.8);
  }
  to {
    top: 0px;
    transform: scale(1);
  }
}
@keyframes LeftPosterUD {
  from {
    top: -220px;
  }
  to {
    top: 220px;
  }
}

.movies {
  margin: 120px 0px;
  height: 600px;
  width: 400px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.movies > * {
  transition: left 500ms ease-in-out, transform 500ms ease-in-out;
}

[class~='cardItems_N_0'] {
  z-index: 1;
  right: 220px;
  filter: blur(1.5px);
  animation: LeftPoster 500ms;
}

[class~='cardItems_N_1'] {
  right: 0px;
  z-index: 10;
  transform: scale(1.2);
  animation: MidPoster 500ms;
}

[class~='cardItems_N_2'] {
  z-index: 5;
  right: -220px;
  filter: blur(1.5px);
  animation: RightPoster 500ms;
}

[class~='streamingsItem'] {
  align-self: flex-end;
  opacity: 0;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  /* background-color: var(--D2); */
  border-radius: 7px;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  transition: opacity 500ms ease-in-out;
}

[class~='carousel_paused'] > [class~='streamingsItem'] {
  opacity: 1;
}

.streaming > img {
  align-self: center;
  height: 48px;
  width: 48px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
}

.streaming > p {
  font-weight: bold;
  color: var(--L1);
  text-shadow: 2px 2px 2px var(--D1);
}

.streaming {
  display: flex;
  background-color: var(--D2);
  border-radius: 7px;
  padding: 5px;
  gap: 5px;
}

.streaming:nth-child(odd) {
  flex-direction: row-reverse;
  justify-items: end;
}

[class~='cardItems'] {
  height: 600px;
  width: 400px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 7px;
  display: flex;
}

[class~='cardItems'] img {
  border-radius: 7px;
}

@media (max-width: 900px) {
  .movies {
    height: 450px;
    width: 300px;
  }
  .streaming > p {
    font-size: 12px;
    transform: scale(0.8);
    align-self: center;
  }
  .streaming {
    gap: 0px;
  }

  [class~='streamingsItem'] {
    padding: 20px 5px;
    gap: 5px;
  }

  [class~='cardItems'] {
    height: 450px;
    width: 300px;
  }
  [class~='cardItems_N_0'] {
    right: 180px;
    animation: LeftPosterL 500ms;
  }

  [class~='cardItems_N_1'] {
    animation: MidPosterL 500ms;
  }

  [class~='cardItems_N_2'] {
    right: -180px;
    animation: RightPosterL 500ms;
  }
}
@media (max-width: 700px) {
  .movies {
    margin: 240px 0px;
  }
  [class~='cardItems_N_0'] {
    top: 220px;
    right: 0px;
    animation: LeftPosterUD 500ms;
  }

  [class~='cardItems_N_1'] {
    transform: scale(1.2);
    animation: MidPosterUD 500ms;
  }

  [class~='cardItems_N_2'] {
    top: -220px;
    right: 0px;
    animation: RightPosterUD 500ms;
  }
}
@media (max-width: 450px) {
  [class~='cardItems_N_0'] {
    top: 220px;
    right: 0px;
    transform: scale(0.8);
    animation: LeftPosterUDL 500ms;
  }

  [class~='cardItems_N_1'] {
    transform: scale(1);
    animation: MidPosterUDL 500ms;
  }

  [class~='cardItems_N_2'] {
    top: -220px;
    right: 0px;
    transform: scale(0.8);
    animation: RightPosterUDL 500ms;
  }
}
