.background {
  background: url('../../../Assets/StoneWallBackgroundPurple.svg');
  display: flex;
  justify-content: center;
}
@keyframes RightPoster {
  from {
    right: 0px;
    transform: scale(1.2);
    z-index: 10;
  }
  to {
    transform: scale(1);
    right: -220px;
    z-index: 5;
  }
}
@keyframes RightPosterUD {
  from {
    top: 0px;
    transform: scale(1.2);
    z-index: 10;
  }
  to {
    transform: scale(1);
    top: -220px;
    z-index: 5;
  }
}

@keyframes LeftPoster {
  from {
    right: -220px;
  }
  to {
    right: 220px;
  }
}

@keyframes LeftPosterUD {
  from {
    top: -220px;
  }
  to {
    top: 220px;
  }
}

@keyframes MidPoster {
  from {
    right: 220px;
    transform: scale(1);
  }
  to {
    right: 0px;
    transform: scale(1.2);
  }
}

@keyframes MidPosterUD {
  from {
    top: 220px;
    transform: scale(1);
  }
  to {
    top: 0px;
    transform: scale(1.2);
  }
}

@keyframes RightPosterUDL {
  from {
    top: 0px;
    transform: scale(1);
    z-index: 10;
  }
  to {
    transform: scale(0.8);
    top: -220px;
    z-index: 5;
  }
}
@keyframes MidPosterUDL {
  from {
    top: 220px;
    transform: scale(0.8);
  }
  to {
    top: 0px;
    transform: scale(1);
  }
}
@keyframes LeftPosterUDL {
  from {
    top: -220px;
  }
  to {
    top: 220px;
  }
}

.movies {
  margin-top: 120px;
  height: 600px;
  width: 400px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.movies > * {
  transition: left 500ms ease-in-out, transform 500ms ease-in-out;
}

[class~='cardItems_N_0'] {
  right: 220px;
  filter: blur(1.5px);
  animation: LeftPoster 500ms;
}

[class~='cardItems_N_1'] {
  right: 0px;
  z-index: 10;
  transform: scale(1.2);
  animation: MidPoster 500ms;
}

[class~='cardItems_N_2'] {
  right: -220px;
  filter: blur(1.5px);
  animation: RightPoster 500ms;
}

[class~='streamingsItem'] {
  align-self: flex-end;
  width: 100%;
  display: none;
  grid-template-columns: 1fr 1fr;
  background-color: var(--D2);
  border-radius: 7px;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

[class~='carousel_paused'] > [class~='streamingsItem'] {
  display: grid;
}

.streaming > img {
  align-self: center;
  height: 64px;
  width: 64px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
}
.streaming {
  height: 64px;
  display: flex;
}

.streaming:nth-child(odd) {
  flex-direction: row-reverse;
  justify-items: end;
}

[class~='cardItems'] {
  height: 600px;
  width: 400px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 7px;
  display: flex;
}

[class~='cardItems'] img {
  border-radius: 7px;
}

@media (max-width: 800px) {
}
@media (max-width: 400px) {
}
