.background {
  background-image: url('../../../Assets/StoneWallBackground.svg');
  display: flex;
  position: relative;
  overflow-y: hidden;
}

.catalogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 120px 48px 48px 248px;
}

.itemCatalogo {
  max-width: 200px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  background-color: rgb(0, 0, 0, 0.8);
  z-index: 2000;
}

@media (max-width: 900px) {
  .catalogo {
    margin-left: 40px;
    margin-top: 120px;
  }
}
@media (max-width: 500px) {
  .catalogo {
    margin: 20px;
    margin-top: 120px;
  }
}
