.modal {
  position: absolute;
  height: 80dvh;
  width: 50dvw;
  max-width: 760px;
  max-height: 760px;
  background-color: var(--D2);
  z-index: 2000;
  /* left: 25%; */
  /* top: 10%; */
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.streamingItems {
  display: flex;
}
.imagemModal {
  max-width: 100%;
}
.filmName{
  color: white;
}
.modalTexts{
  padding: 0px 20px;
}