.titulo{
  color: var(--D2);
  font-size: 24px;
  position: relative;
}

.titulo.cifrao::before{
  position: absolute;
  height: 24px;
  width: 24px;
  content: url('../../../Assets/Cipher.svg');
  left: -42px;
  top: 2px;
  transform: scale(1.2);
  padding-bottom: 2px;
  border-left: 3px solid var(--D2);
}

.texto{
  font-family: "IBM Plex Serif", serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--L1);
}

.titulo.lupa::before{
  position: absolute;
  height: 24px;
  width: 24px;
  left: -42px;
  top: 2px;
  transform: scale(1.2);
  padding-bottom: 2px;
  border-left: 3px solid var(--D2);
  content: url('../../../Assets/Search.svg');
}