.input {
  background: transparent;
  border: 2px solid var(--D2);
  border-radius: 7px;
  color: var(--D2);
  padding-left: 12px;
}

.input:focus {
  border: none;
}

.input > input::placeholder {
  color: var(--D2);
  font-weight: bold;
}

.input::-webkit-search-cancel-button {
  background: red;
}

input[type='search' i] {
  padding-block: 0px;
  padding-inline: 0px;
}

input {
  padding: 0px;
}
