.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 32px 0px 32px;
}

.titulo{
  font-size: 36px;
  font-weight: bolder;
  text-decoration: none;
}

.link{
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.rightSide{
  display: flex;
  gap: 26px;
  align-items: center;
}

@media (max-width: 800px){
  .rightSide a{
    display: none;
  }
}

@media (max-width: 550px){
  .rightSide a{
    display: none;
  }
  .titulo{
    font-size: 26px;
  }
}