.carousel{
  /* box-shadow: 500px 60px var(--L1); */
  position: relative;
  display: flex;
  padding: 32px;
  padding-top: 0 ;
  margin-top: 128px;
  padding-bottom: 120px;
  justify-content:center;
}

.itemsCenter{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.barra::after{
  position: absolute;
  content: "";
  height: 50px;
  width: 70%;
  background-color: var(--L1);
  bottom: -10px;
  right: 0px;
}

.texto{
  font-size: 64px;
  text-align: center;
  align-self: center;
  color: var(--D2);
  line-height: 110%;
  max-width: 60%;
  text-shadow: 1px 1px var(--D2B);
  font-weight: bolder;
}