.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Streaming{ 
  height: 107px;
  width: 107px;
  position: relative;
}
img {
  position: absolute;
  transition: top 500ms ease-in-out, transform 500ms ease-in-out;
}

.Streaming {
  [class="0U"]{
    border-radius: 50%;
    animation: Top 500ms;
    top: -140px;
    z-index: 1;
  }
  [class="1D"] {
    align-self: center;
    border-radius: 7px;
    animation: MidR 500ms;
    transform: scale(1.5);
    z-index: 10;
    top: 0px;
  }
  [class="1U"] {
    border-radius: 7px;
    animation: Mid 500ms;
    transform: scale(1.5);
    z-index: 10;
    top: 0px;
  }
  [class="0D"]{
    border-radius: 50%;
    animation: TopR 500ms;
    z-index: 5;
    top: -140px;
  }
  [class="2D"] {
  border-radius: 50%;
  animation: BottomR 500ms;
  z-index: 1;
  top: 140px;
  }
  [class="2U"] {
  border-radius: 50%;
  animation: Bottom 500ms;
  z-index: 5;
  top: 140px;
  }
  [class="3U"] {
  border-radius: 50%;
  animation: MidB 500ms;
  z-index: 1;
  }
  [class="3D"]{
  border-radius: 50%;
  animation: MidRB 500ms;
  z-index: 1;
  }
  @media (max-width: 800px){
    [class="0U"]{
      border-radius: 50%;
      animation: Left 500ms;
      right: -140px;
      top: 0px;
      z-index: 1
    }
    [class="1U"]{
      border-radius: 7px;
      animation: MidH 500ms;
      transform: scale(1.5);
      z-index: 10;
      top: 0px;
    }
    [class="2U"] {
      border-radius: 50%;
      animation: Right 500ms;
      z-index: 5;
      top: 0px;
      right: 140px;
    }
    [class="3U"] {
      border-radius: 50%;
      animation: MidHB 500ms;
      z-index: 1;
    }
  }
  }

@keyframes RightPoster{ 
  from{
    right: 75px;
    transform: scale(1.5);
    z-index: 10;
  }
  to{
    transform: scale(1);
    right: -205px;
    z-index: 5;
  }
}

@keyframes LeftPoster{ 
  from{
    right: -205px;
  }
  to{
    right: 355px;
  }
}

@keyframes MidPoster{
  from{
    right: 355px;
    transform: scale(1);
  }
  to{
    right: 75px;
    transform: scale(1.5);
  }
}

@keyframes Top {
  from {
    top: 0px;
  }
  to {
    top: -140px;
  }
}

@keyframes TopR {
  from {
    top: 0px;
    border-radius: 7px;
    transform: scale(1.5);
  }
  to {
    top: -140px;
    border-radius: 50%;
    transform: scale(1);
  }
}

@keyframes Mid {
  from {
    transform: scale(1);
    border-radius: 50%;
  }
  to {
    transform: scale(1.5);
    border-radius: 7px;
  }
}

@keyframes MidB {
  from {
    top: 140px;
  }
  to {
    top: 0px;
  }
}

@keyframes MidR {
  from {
    top: 140px;
    border-radius: 50%;
  }
  to {
    top: 0px;
    border-radius: 7px;
  }
}

@keyframes MidRB {
  from {
    top: -140px;
  }
  to {
    top: 0px;
  }
}

@keyframes Bottom {
  from {
    transform: scale(1.5);
    border-radius: 7px;
  }
  to {
    transform: scale(1);
    border-radius: 50%;
  }
}


@keyframes BottomR {
  from {
    top: 0;
  }
  to {
    top: 140px;
  }
}

@keyframes Right {
  from {
    right: 0;
    transform: scale(1.5);
  }
  to {
    right: 140px;
    transform: scale(1);
  }
}

@keyframes MidH {
  from {
    right: -140px;
    transform: scale(1);
  }
  to {
    right: 0px;
    transform: scale(1.5);
  }
}

@keyframes MidHB {
  from {
    right: 140px;
  }
  to {
    right: 0px;
  }
}

@keyframes Left {
  from {
    right: 0px;
  }
  to {
    right: -140px;
  }
}

@media (max-width: 1200px){
  .Streaming:first-of-type{
    display: none;
  }
}
@media (max-width: 550px){
  .items{
    transform: scale(.7);
  }
}