p {
  margin: 0;
}

.menu {
  position: fixed;
  left: 0;
  width: 200px;
  height: 100dvh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* padding-left: 20px; */
  gap: 20px;
  /* align-items: center; */
  /* justify-content: center; */
}

.buttonMenu {
  display: none;
  background: var(--D2);
  padding: 25px;
  border: none;
  border-radius: 7px;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttonMenu::before {
  display: inline-block;
  position: absolute;
  content: '';
  width: 24px;
  height: 3px;
  border-radius: 2px;
  background: white;
  box-shadow: 0 6px #fff, 0 -6px #fff;
}

.menu > p {
  padding: 0px 40px;
  margin-top: 32px;
  font-size: 24px;
  font-weight: bold;
  color: var(--D2);
}

.menu::before {
  position: absolute;
  content: '';
  width: 100dvw;
  height: 100dvh;
  background-image: url('../../../Assets/FullItem.svg');
  background-size: cover;
  pointer-events: none;
}
.menuItens {
  height: 100%;
}

.itemsMenu {
  gap: 20px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
}

.itemsMenu > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: white;
  -webkit-text-stroke: 1px var(--D2);
  text-shadow: 3px 3px 0px var(--D2);
}

@media (max-width: 900px) {
  .menu {
    background-color: var(--L1);
    flex-direction: row;
    width: 100dvw;
    height: 100px;
    top: 0;
    z-index: 5;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  .menu::before {
    display: none;
  }
  .itemsMenu {
    flex-direction: row;
    text-align: center;
    align-items: center;
  }
  .menu > p {
    margin: 0px;
  }
}

@media (max-width: 700px) {
  .itemsMenu {
    display: none;
    position: absolute;
    background: white;
    width: 160px;
    z-index: 200;
    padding: 60px 0 20px 0;
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    z-index: 5;
  }
  .itemsMenu.active {
    display: flex;
    flex-direction: column;
    right: 0px;
    top: 25px;
    animation: show-right 0.3s forwards;
    z-index: 5;
  }
  .itemsMenu {
    /* flex-direction: column;
    gap: 0px; */
    display: none;
  }
  .itemsMenu > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: var(--D2);
    -webkit-text-stroke: transparent;
    text-shadow: none;
  }
  .buttonMenu {
    display: flex;
    z-index: 10;
  }
  .menu {
    padding: 0px 40px;
    flex-direction: row;
    width: -webkit-fill-available;
    /* padding: 0px 20px 0px 20px; */
    /* padding-right: 20px; */
  }
  .menu > p {
    padding: 0px;
  }
}
